<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>B_API_KEY</key>
	<string>$(B_API_KEY)</string>
	<key>B_API_URL</key>
	<string>$(B_API_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>eu.magicsk.transi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>transi</string>
			</array>
		</dict>
	</array>
	<key>I_API_URL</key>
	<string>$(I_API_URL)</string>
	<key>MAGIC_API_URL</key>
	<string>$(MAGIC_API_URL)</string>
	<key>R_API_KEY</key>
	<string>$(R_API_KEY)</string>
	<key>R_API_URL</key>
	<string>$(R_API_URL)</string>
	<key>THUNDERFOREST_API_KEY</key>
	<string>$(THUNDERFOREST_API_KEY)</string>
	<key>THUNDERFOREST_API_URL</key>
	<string>$(THUNDERFOREST_API_URL)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
